@import '../../index.scss';
.navbar {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid $primary-color !important;
    background-color: #131415 !important;

    &__item {
        span {
            color: $primary-color;
        }

        &.ant-menu-item-selected {
            background: $primary-color !important;
            span {
                color: black !important;
            }
        }
    }
}