.section {
    background: #131415;
    &__content {
        width: 100%;
        box-shadow: rgba(0, 0, 0, 0.5) 0px 4px 12px;
        position: relative;
        background-color:#202123;
        border-radius: 10px;
        top: -100px;
        margin-left: 40px;
        margin-right: 40px;
        padding-top: 20px;
    }
}